[submodule ".\\third_party\\libsimdpp"]
	path = .\\third_party\\libsimdpp
	url = https://github.com/p12tic/libsimdpp
[submodule "third_party/catch2"]
	path = third_party/catch2
	url = https://github.com/catchorg/Catch2
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark
